{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>
            Trymake
        </title>
    {% endblock %}
    <script src="{% static 'website/core/jquery.js' %}"></script>
    <script src="{% static 'website/core/angular.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<!-- Temporary -->
--Temporary--
<button><a href="http://127.0.0.1:8000/logout"> Logout</a></button>
<button><a href="http://127.0.0.1:8000/account">My account</a></button>

{% block body %}
{% endblock %}
{% block script %}
{% endblock %}
</html>