{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>
            Trymake
        </title>
    {% endblock %}
    <script src="{% static 'website/core/jquery.js' %}"></script>
    <script src="{% static 'website/core/angular.js' %}"></script>
    <script src="{% static 'website/core/angular-ngCookies.js' %}"></script>
    {% block head %}{% endblock %}
</head>

{% block body %}
{% endblock %}
{% block script %}
{% endblock %}
</html>