{% if error_message %}Error: {{ error_message }} <br>  {% endif %}

{% if user %}Hi:  {{ user }} {% endif %}

<form method="post" action="{% url "core:login" %}">
{{ login_form }} <br>
    {% csrf_token %}
        <input type="submit">

</form>

------------------------
<table>
<form method="post" action="{% url "core:reg" %}">
{{ registration_form }}
        {% csrf_token %}
    <tr><th></th><td><input type="submit"></td></tr>
</form>
</table>

<table>
{{ address_form }}
</table>

<table>
    <form method="post" action="{% url "core:check_account" %}">
        {% csrf_token %}
        {{ email_check_form }}
        <tr><th></th><td><input type="submit"></td></tr>
    </form>
</table>
