{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trymake - Login</title>
</head>
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'angular.js' %}"></script>
<script src="{% static 'login.js' %}" ></script>
{% verbatim %}
<body ng-app="login">
    <h1>Login</h1>
    <div ng-controller="loginEmail">
        <h1>{{error}}</h1>
        <form ng-submit="check_mail(email)">
            {% endverbatim %}
            {% csrf_token %}
            {% verbatim %}
            <input type="email" placeholder="Enter Email" ng-model="email" id="id_email" name="email">
            <input type="submit">
        </form>
        <form ng-show="user" ng-submit="login(email,password)">
            <input type="text" placeholder="Enter Email" ng-model="email" id="id_email" name="email">
            <input type="text" placeholder="Enter password" ng-model="password" id="id_password" name="password">
            <input type="submit">
        </form>
    </div>
</body>
{% endverbatim %}
</html>