{% extends 'website/core/base-includes.html' %}
{% load staticfiles %}
{% block title %}
    <title>
        Trymake | Buy Electronic project equipment in India |
    </title>
{% endblock %}
{% block head %}
    <script src="{% static 'login.js' %}" ></script>
{% endblock %}
{% block body %}
    <body ng-app="login">
        <div ng-controller="loginEmail">
            <div ng-show="user.email_registered || !user">
                <h2>Login</h2>
            </div>
            <div ng-show="!user.email_registered && user">
                <h2>Register</h2>
            </div>
            <form ng-submit="check_mail(email)">
                {% csrf_token %}
                <div ng-show="reg.status == 'ok'">
                    <h3>You have successfully registered with us... Kindly Login.</h3>
                </div>
                <div ng-show="!user">
                    <h3>Enter your email to continue..</h3>
                </div>
                <div ng-show="!user.email_registered && user">
                    <h3>You are not registered with us.. </h3>
                </div>
                <div ng-show="user.email_registered">
                    <h3>Enter your password</h3>
                </div>
                <input type="email" ng-show="!user " placeholder="Enter Email" ng-model="email" id="id_email" name="email">
                <input type="submit" ng-hide="user">
            </form>
            <form ng-show="user.email_registered" ng-submit="login(email,password)">
                {[email]}<br/>
                <input type="password" placeholder="Enter password" ng-model="password" id="id_password" name="password">
                <input type="submit">
            </form>
            <form ng-hide="!user || user.email_registered" ng-submit="register()">
                <input type="text" name="name" ng-model="name" autofocus="" placeholder="Enter Name" required="" id="id_name"><br/>
                <input type="text" name="phone" ng-model="phone" placeholder="Enter Phone Number" required="" id="id_phone"><br/>
                <input type="text" name="email" ng-model="email" placeholder="Enter Email" required="" id="id_email"><br/>
                <input type="password" name="password" ng-model="password" placeholder="Enter password" required="" id="id_password"><br/>
                <input type="password" name="password_verify" ng-model="password_verify" placeholder="Repeat password" required="" id="id_password_verify"><br/>
                <input type="submit">
            </form>
        </div>
    </body>
{% endblock %}
